<div class="card">
    <div class="card-body">
         <h1>About</h1>
         <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit eum itaque soluta impedit 
         excepturi error corporis ex est voluptate
         ab quibusdam exercitationem harum quidem, corrupti fugit ullam a! Enim, molestias!</p>
    </div>
</div>