<div class="p-5 mt-4 bg-light">
    <h1 class="display-4">Mis Notas</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus quia optio 
        sequi nemo ea inventore nobis 
        delectus, culpa, 
        cupiditate cumque modi officia. Possimus eaque in vero, tenetur iste praesentium ex?</p>
    <a href="http://google.com" class="btn btn-primary btn-lg">Google</a>
</div>