<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">MisNotasApp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/about">About</a>
      </div>
      <ul class="navbar-nav align-items-center">
          {{#if user}}
          <li><a href="/notes/add" class="btn btn-outline-success btn-sm mx-2">Agregar Nota</a></li>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Notas
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/notes">Mis Notas</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/users/logout">Log Out</a></li>
          </ul>
        </li>
          {{else}}  
          <li><a href="/users/signin" class="nav-link">Ingresar</a></li> 
          <li><a href="/users/signup" class="nav-link">Registrarse</a></li>
          {{/if}}
       
      </ul>
    </div>
  </div>
</nav>