<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header text-center">
            <h3>Editar Nota</h3>
        </div>
        <div class="card-body">
            <form action="/notes/edit-note/{{note._id}}?_method=PUT" method="POST">
                <input type="hidden" name="_method" value="PUT">
                <div class="col-form-label"> 
                <input type="text" name="title" class="form-control" placeholder="Titulo" value="{{note.title}}">
                </div>
                <div class="col-form-label"> 
                <textarea name="description" class="form-control">{{note.description}}</textarea>
                </div>
                <div class="col-form-label">
                    <button class="btn btn-primary" type="submit">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>