
<div class="col-md-4 mx-auto">
   <div class="card">
    <div class="card-header">
        <h3>New Note</h3>
    </div>
    <div class="card-body">
       <form action="/notes/new-note" method="POST">
         <div class="col-form-label">
             <input type="text" name="title" class="form-control" placeholder="Titulo" autofocus>
         </div>
         <div class="col-form-label">
             <textarea name="description" class="form-control" placeholder="Descripcion" ></textarea>
         </div>
         <div class="col-form-label d-grid gap-2 col-6 mx-auto ">
             <button class="btn btn-outline-primary btn-block" type="submit">Guardar</button>
         </div>
       </form>
    </div>
   </div>
</div>