<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Registrar Cuenta
            </div>
            <div class="card-body">
                <form action="/users/signup" method="POST">
                    <div class="col-form-label">
                        <input type="text" class="form-control" name="name" placeholder="Nombre" value="{{name}}">
                    </div>
                    <div class="col-form-label">
                        <input type="email" class="form-control" name="email" placeholder="Email" value="{{email}}">
                    </div>
                    <div class="col-form-label">
                        <input type="password" class="form-control" name="password" placeholder="Contraseña">
                    </div>
                    <div class="col-form-label">
                        <input type="password" class="form-control" name="confirm_password" placeholder="Confirmar Contraseña">
                    </div>
                    <div class="col-form-label">
                        <button type="submit" class="btn btn-primary">
                            Registrarse
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>