<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card mt-4 text-center">
            <div class="card-header">
                  <h1>Ingresar Cuenta</h1>
            </div>
            <img src="/img/Dog.png" class="logo rounded-pill border border-4 mx-auto d-block m-4" alt="Logo">
            <div class="card-body">
                <form action="/users/signin" method="POST">
                    <div class="col-form-label">
                        <input type="email" class="form-control" name="email" placeholder="Email" autofocus>
                    </div>
                    <div class="col-form-label">
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <div class="col-form-label">
                        <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>